[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eth-utils = "*"
web3 = ">=5"
rlp = "*"
eth-mpt = "*"
cytoolz = ">=0.10.1"

[dev-packages]

[requires]
python_version = "3.8"
